*, *:before, *:after {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  padding: 30px;
}
@media only screen and (max-width: 1260px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}
.grid-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
.grid-item .image {
  height: 200px;
}
.grid-item .info {
  position: relative;
  height: calc(100% - 200px);
  padding: 25px 25px 86px 25px;
}
.grid-item .button-wrap {
  display: block;
  width: calc(100% - 50px);
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.grid-item:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.grid-item:hover .btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.grid-item:active .btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  font-weight: bold;
}

.copy p {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}
.copy p:last-child {
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  padding: 15px 25px;
  background: #cccccc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
  color: #000;
}

.object-fit {
  display: block;
  width: 100%;
  height: 100% !important;
}
.object-fit.cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.object-fit.contain {
  -o-object-fit: contain;
     object-fit: contain;
}
